body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  height: 100vh;
}

.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  width: 350px;
}

.title {
  margin-bottom: 10px;
}

.codename {
  font-size: 2rem;
  font-weight: bold;
  color: #243b55;
  margin: 20px 0;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #243b55;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #141e30;
  transform: translateY(-2px);
}